@import "_var";

// font

// 열린고딕 light
@font-face {
  font-family: 'YeolrinGothic-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// 열린고딕 medium
@font-face {
  font-family: 'YeolrinGothic-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// 열린고딕 bold
@font-face {
  font-family: 'YeolrinGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// font

// 기본설정
*{
  margin: 0;
  padding: 0;
  font-family: 'YeolrinGothic-Medium';
}
ul, ol, dl{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
html{
  font-size: 16px;
}
.color_000{
  color: #000;
  font-family: 'YeolrinGothic-Light';
  font-size: 0.8rem;
  &:hover{
    color: #000;
  }
}
// 기본설정

// Adminheader.vue
#Admin_header_wrap{
  background-color: #474747;
  .Admin_header_con{
    width: $wi;
    margin: $mr;
    h2{
      font-size: 2rem;
      font-family: 'YeolrinGothic-Bold';
      line-height: 1.8;
      margin-top: 10px;
      color: #dbdbdb;
      cursor: pointer;
    }
    .Admin_main_box_co{
      margin-top: 35px;
      .Admin_header_nav{
        font-size: 1.3rem;
        padding: 0;
        line-height: 2;
        color: #dbdbdb;
        cursor: pointer;
      }
    }
  }
}
// Adminheader.vue

// Login.vue
#Login_wrap{
  width: $wi;
  margin: $mr;
  h3{
    font-size: 3rem;
    text-align: center;
    margin-top: 150px;
    letter-spacing: 10px;
    font-family: 'YeolrinGothic-Bold';
  }
  .Login_inform{
    width: 500px;
    text-align: center;
    margin: 100px auto 0;
    background-color: #ccc;
    height: 400px;
    padding-top: 70px;
    box-sizing: border-box;
    .Login_informbox{
      width: 80%;
      margin: 0 auto;
    }
    #Login_idbox,
    #Login_pwbox{
      margin-bottom: 30px;
    }
    .Login_btn{
      display: block;
      margin: 20px auto 0;
      width: 100%;
      background-color: $ee;
      border: 0;
      font-size: 1.3rem;
    }
  }
}
// Login.vue

// // Join.vue
// #Join_wrap{
//   width: $wi;
//   margin: $mr;
//   h3{
//     font-size: 3rem;
//     text-align: center;
//     margin-top: 150px;
//     letter-spacing: 10px;
//     font-family: 'YeolrinGothic-Bold';
//   }
//   .Join_formbox{
//     background-color: #ccc;
//     margin: 100px auto 0;
//     height: 500px;
//     width: 800px;
//     padding-top: 70px;
//     box-sizing: border-box;
//     .Join_form{
//       width: 600px;
//       margin: 0 auto;
//       #Join_namebox,
//       #Join_idbox,
//       #Join_pwbox,
//       #Join_positionbox{
//         margin-bottom: 30px;
//       }
//       .Join_btnbox{
//         margin-top: 70px;
//         .Join_btnsub,
//         .Join_btnres{
//           display: inline-block;
//           background-color: $ee;
//           width: calc(50% - 3px);
//           border: 0;
//           &:hover {
//             background-color: rgb(131, 129, 129);
//           }
//         }
//         .Join_btnsub{
//           margin-right: 3px;
//         }
//         .Join_btnres{
//         }
//       }
//     }
//   }
// }
// // Join.vue

// Admin/main.vue
#Admin_main_wrap{
  .Admin_main_header{
    background-color: #ccc;
    h2{
      width: $wi;
      margin: $mr;
      font-size: 2.5rem;
      font-family: 'YeolrinGothic-Bold';
      line-height: 1.8;
    }
  }
  .Admin_main_box{
    width: $wi;
    margin: $mr;
    .Admin_main_box_co{
      margin-top: 25%;
      .Admin_main_text{
        cursor: pointer;
        font-size: 1.8rem;
        font-family: 'YeolrinGothic-Bold';
        text-align: center;
        height: 270px;
        line-height: 280px;
        background-color: #ccc;
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
    }
    }
  }
}
// Admin/main.vue

// Admin/user.vue
#Admin_user_wrap{
  h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
  }
}
.Admin_user_tablebox{
  width: $wi;
  margin: 70px auto 0;
  table{
    tr{
      td{
        &:last-child{
          width: 20%;
        }
      }
    }
  }
}
// Admin/user.vue

// Admin/device.vue
#Admin_device_wrap{
  h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
  }
}
.Admin_device_tablebox{
  width: $wi;
  margin: 70px auto 0;
  table{
    tr{
      td{
        &:last-child{
          width: 20%;
        }
      }
    }
  }
}
// Admin/device.vue