@import "_var";

// font

// 열린고딕 light
@font-face {
  font-family: 'YeolrinGothic-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// 열린고딕 medium
@font-face {
  font-family: 'YeolrinGothic-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// 열린고딕 bold
@font-face {
  font-family: 'YeolrinGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// font

// 기본설정
*{
  margin: 0;
  padding: 0;
  font-family: 'YeolrinGothic-Medium';
}
ul, ol, dl{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
html{
  font-size: 16px;
}
.color_000{
  color: #000;
  font-family: 'YeolrinGothic-Light';
  font-size: 0.8rem;
  &:hover{
    color: #000;
  }
}
// 기본설정

// Login.vue
#Login_wrap{
  width: $wi;
  margin: $mr;
  h3{
    font-size: 3rem;
    text-align: center;
    margin-top: 150px;
    letter-spacing: 10px;
    font-family: 'YeolrinGothic-Bold';
  }
  .Login_inform{
    width: 500px;
    text-align: center;
    margin: 100px auto 0;
    background-color: #ccc;
    height: 400px;
    padding-top: 70px;
    box-sizing: border-box;
    .Login_informbox{
      width: 80%;
      margin: 0 auto;
    }
    #Login_idbox,
    #Login_pwbox{
      margin-bottom: 30px;
    }
    .Login_btn{
      display: block;
      margin: 20px auto 0;
      width: 100%;
      background-color: $ee;
      border: 0;
      font-size: 1.3rem;
    }
  }
}
// Login.vue

// Join.vue
#Join_wrap{
  width: $wi;
  margin: $mr;
  h3{
    font-size: 3rem;
    text-align: center;
    margin-top: 150px;
    letter-spacing: 10px;
    font-family: 'YeolrinGothic-Bold';
  }
  .Join_formbox{
    background-color: #ccc;
    margin: 100px auto 0;
    height: 550px;
    width: 800px;
    padding-top: 70px;
    box-sizing: border-box;
    .Join_form{
      width: 600px;
      margin: 0 auto;
      #Join_namebox,
      #Join_idbox,
      #Join_pwbox,
      #Join_positionbox{
        margin-bottom: 30px;
      }
      .Join_btnbox{
        margin-top: 70px;
        .Join_btnsub,
        .Join_btnres{
          display: inline-block;
          background-color: $ee;
          width: calc(50% - 3px);
          border: 0;
          &:hover {
            background-color: rgb(131, 129, 129);
          }
        }
        .Join_btnsub{
          margin-right: 3px;
        }
        .Join_btnres{}
      }
    }
  }
}
// Join.vue