@font-face {
  font-family: 'YeolrinGothic-Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YeolrinGothic-Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YeolrinGothic-Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'YeolrinGothic-Medium';
}

ul, ol, dl {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 16px;
}

.color_000 {
  color: #000;
  font-family: 'YeolrinGothic-Light';
  font-size: 0.8rem;
}

.color_000:hover {
  color: #000;
}

#leader_header_wrap {
  background-color: #474747;
}

#leader_header_wrap .leader_header_con {
  width: 1280px;
  margin: 0 auto;
}

#leader_header_wrap .leader_header_con h2 {
  font-size: 2rem;
  font-family: 'YeolrinGothic-Bold';
  line-height: 1.8;
  margin-top: 10px;
  color: #dbdbdb;
  cursor: pointer;
}

#leader_header_wrap .leader_header_con .leader_main_box_co {
  margin-top: 35px;
}

#leader_header_wrap .leader_header_con .leader_main_box_co .leader_header_nav {
  font-size: 1.3rem;
  padding: 0;
  line-height: 2;
  color: #dbdbdb;
  cursor: pointer;
}

#Login_wrap {
  width: 1280px;
  margin: 0 auto;
}

#Login_wrap h3 {
  font-size: 3rem;
  text-align: center;
  margin-top: 150px;
  letter-spacing: 10px;
  font-family: 'YeolrinGothic-Bold';
}

#Login_wrap .Login_inform {
  width: 500px;
  text-align: center;
  margin: 100px auto 0;
  background-color: #ccc;
  height: 400px;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#Login_wrap .Login_inform .Login_informbox {
  width: 80%;
  margin: 0 auto;
}

#Login_wrap .Login_inform #Login_idbox,
#Login_wrap .Login_inform #Login_pwbox {
  margin-bottom: 30px;
}

#Login_wrap .Login_inform .Login_btn {
  display: block;
  margin: 20px auto 0;
  width: 100%;
  background-color: #5e5e5e;
  border: 0;
  font-size: 1.3rem;
}

#leader_main_wrap .leader_main_header {
  background-color: #474747;
}

#leader_main_wrap .leader_main_header h2 {
  width: 1280px;
  margin: 0 auto;
  font-size: 2.5rem;
  font-family: 'YeolrinGothic-Bold';
  line-height: 1.8;
  color: #dbdbdb;
  cursor: pointer;
}

#leader_main_wrap .leader_main_box {
  width: 1280px;
  margin: 0 auto;
}

#leader_main_wrap .leader_main_box .leader_main_box_co {
  margin-top: 25%;
}

#leader_main_wrap .leader_main_box .leader_main_box_co .leader_main_text {
  cursor: pointer;
  font-size: 1.8rem;
  font-family: 'YeolrinGothic-Bold';
  text-align: center;
  height: 270px;
  line-height: 280px;
  background-color: #ccc;
  margin-right: 15px;
}

#leader_main_wrap .leader_main_box .leader_main_box_co .leader_main_text:last-child {
  margin-right: 0;
}

#leader_user_wrap h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
}

.leader_user_tablebox {
  width: 1280px;
  margin: 70px auto 0;
}

.leader_user_tablebox table thead tr th {
  width: calc(100% / 5) !important;
}

.leader_user_tablebox table tr td:last-child {
  width: 20%;
}

#leader_device_wrap h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
}

.leader_device_tablebox {
  width: 1280px;
  margin: 70px auto 0;
}

.leader_device_tablebox table thead tr th {
  width: calc(100% / 5) !important;
}

.leader_device_tablebox table tr td:last-child {
  width: 20%;
}

#control_main_wrap .control_main_header {
  background-color: #ccc;
}

#control_main_wrap .control_main_header h2 {
  width: 1280px;
  margin: 0 auto;
  font-size: 2.5rem;
  font-family: 'YeolrinGothic-Bold';
  line-height: 1.8;
}

#control_main_wrap .control_main_box {
  width: 1280px;
  margin: 0 auto;
}

#control_main_wrap .control_main_box .control_main_box_co {
  margin-top: 25%;
}

#control_main_wrap .control_main_box .control_main_box_co .control_main_text {
  cursor: pointer;
  font-size: 1.8rem;
  font-family: 'YeolrinGothic-Bold';
  text-align: center;
  height: 216px;
  line-height: 216px;
  background-color: #ccc;
  margin-right: 15px;
}

#control_main_wrap .control_main_box .control_main_box_co .control_main_text:last-child {
  margin-right: 0;
}

.controlheader_nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.controlheader_nav > li > a {
  display: inline-block;
  color: #000;
  font-size: 1.2rem;
}

table thead {
  background-color: #ccc;
}

table thead tr th {
  width: 45%;
}

table thead tr th:first-child {
  width: 15%;
}

#chartbox {
  width: 600px;
  margin: 100px auto 0;
  vertical-align: top;
}

#completion_wrap h2 {
  text-align: center;
  font-size: 1.9rem;
  margin-top: 100px;
}

#completion_wrap #completion_end {
  width: 1280px;
  margin: 0 auto;
  text-align: right;
}

#completion_wrap #completion_end button {
  margin-top: 50px;
  display: inline-block;
  margin-bottom: 15px;
}

#completion_wrap #completion_end table {
  text-align: center;
}

#completion_wrap #completion_end table thead tr th {
  width: 10%;
  font-size: 1.1rem;
}
/*# sourceMappingURL=main.css.map */